
@{
    ViewBag.Title = "Confirmation Email";
}

<h2>Confirmation Email Sent!</h2>

<p>
    A confirmation email has been sent to @ViewBag.EmailAddress. Please check your email and confirm your email address.
</p>

<p class="bold">
    Make sure to check your spam folder!
</p>
