@model LibsRUs.Models.Platform

@{
    ViewBag.Title = (Model.Name + " Libs");
}

<h2>@Model.Name Libs</h2>

<p>
    @Html.ActionLink("Back to Platforms", "Index")
</p>

<div>
    <hr />
    <table class="libsTable table">
        <thead>
            <tr>
                <th class="nameCell">Name</th>
                <th class="descriptionCell">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Libs)
            {
                <tr>
                    <td class="nameCell">
                        @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                    </td>
                    <td class="descriptionCell">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
