body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*
    Generic classes    
*/
.bold
{
    font-weight:bold;
}
.float-left
{
    float:left;
}
.float-right
{
    float:right;
}

/*-------------------*/

.ellipsis 
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.libs
{
    min-width:970px;
    margin-top:70px;
    /*min-height:400px;*/
    overflow:auto;
    width:100%;
}

.leftNav
{
    width:220px;
    float:left;
    z-index:2;
}
.leftNav *
{
    z-index:inherit;
    position:relative;
}

.rightContentContainer
{
    margin-left: -230px;
    float:right;
    overflow:hidden;
    width:100%;
}
.rightContent
{
    margin-left: 230px;
    right:23%;
    /*width: 740px;*/
    width:100%;
    margin-right: -230px;
    /*padding-right: 230px;*/
    /*overflow:hidden;*/
}

.libsTable
{
    width:720px;
    table-layout:fixed;
}
.nameCell
{
    width:300px;
}

.descriptionCell
{
    max-width:420px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.libDescription
{
    width:400px;
    height:200px;
}