@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Libs-R-Us</h1>
    <p class="lead">Libs-R-Us is a library aggregation site for software engineers, web developers, etc.</p>
    <p><a href='@Url.Action("Index", "Libs")' class="btn btn-primary btn-lg">Browse Libraries &raquo;</a></p>
</div>